nav {
    width: 100%; 
    display: table;
    border: 1px solid #444444;
    float: left;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
main    {
    float: left;
    place-content: inherit;
}
#detail-des{
    float: left;
}
aside
{
float:right;
}
body {
    background-color: lightblue;
  }
  .material-icons{
  padding-right: 25px;
   float: left;
   
  }
  #search-place {
      width: 40%;
      
  }
