body {
    background-color: lightblue;
  }
.container    {
    float: left;
    place-content: inherit;
}
nav {
    width: 100%; 
    display: table;
    border: 5px solid #444444;
    float: left;
}

#detail-des{
    float: left;
}
aside
{
float:right;
}

.material-icons{
  
   float: left;
   padding-left: 7px;
   
  }
#search-place {
      width: 40%;
      
  }
nav .right-icons {
    float:right;
     padding:15px;
  }
  nav .icon{
    float:left; 
    width:90%;
    margin-bottom: 30px;
  }
  #search-box{
    width: 600px;  
    margin-left: 50px;
  }
#logo {
    width: 35px;
    height: 35px;
}
.container.left-side.views {
    float: left;
}
#detail-icon-right {
    float: right;
}
#date-span {
    float: left;
    margin-left: 10px;
}
.container.video{
    margin: 50px;
}