body {
  font-family: Arial, Helvetica, sans-serif;
}
.container
{
  
}
/*Start of Header Section Style*/

.header{
  display: flex;
  padding: 25px;
  margin-bottom: 30px;

}
.header-left-side{
  width: 15%;
  display: flex;
  justify-content: start;
  
}
.material-icons{

}
.header-search-bar{
  width: 80%;
}
container.header.search-bar.search-input{
  width: 60%;
}
.header-right-side{
  width: 5%;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
 

}
.header-notification-icon
{
  padding-left: 10px;
}
.header-apps-icon
{
  padding-left: 10px;
}
/*End of Header Section Style */
/*Start of Main Section Style*/

.container.main
{
  display: flex;
}
.main-left-side
{
  width: 70%; 
  margin-left: 50px;
}
.video-views-line
{
  display: flex;
}
.video-view-date
{
  width: 500px;
}
.video-icons
{
  margin-right: 0px;
  margin-left: 50px;
}
.Author-part
{
  display: flex;
}
.author-avatar
{
  width: 50px;
}
.avatar-image
{
  border-radius: 50%;
}
.author-name-subs-number
{
  margin-left: 60px;
  margin-top: 20px;
}
.subs-btn
{
  float: right;
  margin-left: 0%;
  margin-right: 200px;
 
}
.subs-btn>input{
  background-color: red;
  color: white;
}
.main-left-side>hr{
  width: 80%;
  margin-left: 0px;
}
/*End of Main Section Style*/
/*Start of  Right Side Section Style*/

.recommended-video-section{
  display: flex;
}
.recommended-video>h3{
  margin-bottom:0px;
   margin-top:0px; 
   margin-left:0px;
  
}
.recommended-video>h5{
  margin-bottom:0px;
   margin-top:0px; 
   margin-left:0px;
  
}
.recommended-video>span{
  font-size:12px;
  
}

}
.recommended-video-section
{
  display:flex;
}
.recommended-video.images{
  width:100%;
  height:125px;
  margin-top: 0px;
}

.material-icons
{
  color: black;
}