@font-face {
  font-family: "Titillium";
  font-weight: 500;
  src: url("../Fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 300;
  src: url("../Fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 200;
  src: url("../Fonts/TitilliumWeb-Italic.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 100;
  src: url("../Fonts/TitilliumWeb-Light.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 700;
  src: url("../Fonts/TitilliumWeb-Bold.ttf");
}

.subtext-font-family{
  font-family: Roboto, Arial, sans-serif;
}

.gray-color {
  color: rgb(144,144,144);
}

body, html {
  font-family: Titillium;
  background-color: #ffff;
  padding: 0px;
  margin: 0px;
  direction: ltr;
  font-size: 14px;
  font-weight: 100;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
}

/*Start of Header Section Style*/

.header {
  height: 60px;
  display: flex;
  top: 0px;
  margin-top: 10px;
  margin-bottom: 10px; 
  justify-content: center;
  align-items: center;
  background-color: white;
}


.material-icons {
  color: rgb(144,144,144);
}

.header-left-side {
  display: flex;
  justify-content: space-evenly;  
}

.header-search-bar {
  width: 100%;
  text-align: center;
}

.header-search-bar button {
  height: 36px;
}

.search-input {
  width: 500px;
  height: 30px;
}

.header-right-side {
  display: flex;
  justify-content: space-evenly;
}

.header-notification-icon {
  padding-left: 10px;
}

.header-apps-icon {
  padding-left: 10px;
}

/*End of Header Section Style */
/*Start of Main Section Style*/


.main-container {
  display: flex;
  max-width: 1280px;
  justify-content: center;
}

.main-left-side {
  width: 55%; 
  margin-left: 50px;
}

.video-iframe {
  width: 640px;
  height: 360px;
  border: none;
}

.video-caption {
  margin-top: 20px;
}

.video-views-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#video-title span {
  font-size: 18pt;
}

.video-view-date {
  width: 250px;
  font-family: Roboto, Arial, sans-serif;
  color:rgb(144,144,144) ;
}

.views-count:after {
  content: "•";
  margin-right: 4px;
  margin-left: 4px;
}

.video-icons {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.video-icons div {
  margin-right: 20px;
}

.video-icons span {
  vertical-align: middle;
}

.video-icons .material-icons {
  font-size: 20px;
}

.author-part {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.avatar-username {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.author-avatar {
  margin-right: 10px;
}

.avatar-image {
  border-radius: 50%;
}

.author-details span{
  margin-top: 0;
  margin-bottom: 0;
}

.author-name {
  font-weight: bold;
}

.subs-btn {
  margin-right: 10px; 
}

.subs-btn input {
  width: 110px;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: red;
  color: white;
}

.video-description {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  margin-left: 58px;
}

.main-left-side hr {
  margin-right: 10px;
  margin-top: 15px;
}

/*End of Main Section Style*/
/*Start of  Right Side Section Style*/

.recommended-video-section {
  display: block;
}

.up-next {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.up-next span {
  vertical-align: middle;
}

.up-next-text {
  font-size: 18px;
}

.autoplay-icon {
  font-size: 40px;
}

.recommended-video-section hr {
  margin-bottom: 10px;
}

.recommended-video {
  display: flex;
  margin-bottom: 5px;
}

.recommended-video h3 {
  margin-bottom:0px;
   margin-top:0px; 
   margin-left:0px;  
}

.recommended-video h5 {
  margin-bottom:0px;
   margin-top:0px; 
   margin-left:0px;  
}

.recommended-video-title {
  margin-left:10px;
  margin-top: 0px;
}

.recommended-video span {
  font-size: 12px; 
}

.recommended-video img {
  width: 220px;
  height:120px;
  margin-top: 0px;
}