@font-face {
  font-family: "Titillium";
  font-weight: 500;
  src: url("../Fonts/TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 300;
  src: url("../Fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 200;
  src: url("../Fonts/TitilliumWeb-Italic.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 100;
  src: url("../Fonts/TitilliumWeb-Light.ttf");
}

@font-face {
  font-family: "Titillium";
  font-weight: 700;
  src: url("../Fonts/TitilliumWeb-Bold.ttf");
}

.subtext-font-family{
  font-family: Roboto, Arial, sans-serif;
}

.gray-color {
  color: rgb(144,144,144);
}

body, html {
  font-family: Titillium;
  background-color: #ffff;
  padding: 0px;
  margin: 0px;
  direction: ltr;
  font-size: 14px;
  font-weight: 100;  
  min-width: 1440px;
}

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
}

/*Start of Header Section Style*/

.header {
  height: 56px;
  display: flex;
  top: 0px;
  padding: 25px;
  margin-bottom: 30px; 
  align-items: center;
  background-color: white;
}

.header-left-side {
  width: 15%;
  display: flex;
  justify-content: start;  
}

.header-search-bar {
  width: 100%;
  text-align: center;
}

.container.header.search-bar.search-input {
  width: 60%;
}

.header-right-side {
  width: 5%;
  display: flex;
  margin-right: 0px;
  margin-left: auto;
}

.header-notification-icon {
  padding-left: 10px;
}

.header-apps-icon {
  padding-left: 10px;
}

/*End of Header Section Style */
/*Start of Main Section Style*/


.main-container {
  display: flex;
  margin-left: 10%;
}

.main-left-side {
  width: 55%; 
  margin-left: 50px;
}

.video-iframe {
  width: 700px;
  height: 450px;
  border: none;
}

.video-views-line {
  display: flex;
}

#video-title>span {
  font-size: 18pt;
}

.video-view-date {
  width: 250px;
  font-family: Roboto, Arial, sans-serif;
  color:rgb(144,144,144) ;
}

.video-icons {
  display: flex;
  align-content: center;
}

.video-icons span {
  margin-right: 20px;
  color: rgb(144,144,144);
}

.author-part {
  display: flex;
  justify-content: space-between;
}

.avatar-username {
  display: flex;
  justify-content: flex-start;
}

.author-avatar {
  width: 50px;
}

.avatar-image {
  border-radius: 50%;
}

.author-name-subs-number {
  margin-left: 60px;
  margin-top: 20px;
}

.subs-btn {
  margin-right: 10px; 
}

.subs-btn input {
  width: 110px;
  height: 40px;
  border: 1px solid white;
  border-radius: 4px;
  background-color: red;
  color: white;
  margin-right: 20px;
}

.video-description {
  font-family: Roboto, Arial, sans-serif;
  font-size: 10px;
}

.main-left-side hr {
  margin-right: 10px;
}

/*End of Main Section Style*/
/*Start of  Right Side Section Style*/

.recommended-video-section {
  display: flex;
}

.recommended-video>h3 {
  margin-bottom:0px;
   margin-top:0px; 
   margin-left:0px;  
}

.recommended-video>h5 {
  margin-bottom:0px;
   margin-top:0px; 
   margin-left:0px;  
}

.recommended-video.title {
  margin-left:10px;
  margin-top: 0px;
}

.recommended-video>span {
  font-size: 12px; 
}

.recommended-video-section {
  display:flex;
}

.recommended-video.images {
  width:100%;
  height:125px;
  margin-top: 0px;
}

.material-icons {
  color: rgb(144,144,144);
}